name: flutter_demo
description: A new Flutter project.
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ">=2.19.4 <3.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  path: ^1.8.2
  scoped_model: ^2.0.0
  sqflite: ^2.2.8+3
  modal_bottom_sheet: ^2.1.2
  cupertino_icons: ^1.0.2
  hidden_drawer_menu: ^3.0.1
  page_transition: ^2.0.9
  draggable_bottom_sheet: ^1.0.2
  cupertino_modal_sheet: ^1.0.0
  provider: ^5.0.0
  shared_preferences: ^2.0.8
  calendar_date_picker2: ^0.5.2

  hive_generator: ^1.1.3
  build_runner: ^2.2.0
  gsheets:
  http: ^0.13.3

  firebase_core: ^2.13.0
  firebase_auth: ^4.2.0
  cloud_firestore: ^4.8.0
  flutter_form_builder: ^9.0.0
  form_builder_validators: ^9.0.0
  google_sign_in: ^5.4.2
  intl: ^0.18.0
  flutter_localizations:
    sdk: flutter
  flutter_iconpicker: ^3.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/img/
